<div>
  <div class="Row">
    <button class="BtnStyle" (click)="markBoard(0)">{{ mat[0] }}</button>
    <button class="BtnStyle" (click)="markBoard(1)">{{ mat[1] }}</button>
    <button class="BtnStyle" (click)="markBoard(2)">{{ mat[2] }}</button>
  </div>
  <div class="Row">
    <button class="BtnStyle" (click)="markBoard(3)">{{ mat[3] }}</button>
    <button class="BtnStyle" (click)="markBoard(4)">{{ mat[4] }}</button>
    <button class="BtnStyle" (click)="markBoard(5)">{{ mat[5] }}</button>
  </div>
  <div class="Row">
    <button class="BtnStyle" (click)="markBoard(6)">{{ mat[6] }}</button>
    <button class="BtnStyle" (click)="markBoard(7)">{{ mat[7] }}</button>
    <button class="BtnStyle" (click)="markBoard(8)">{{ mat[8] }}</button>
  </div>
  <div class="Row">
      <button class="BtnStyle" (click)="reset()">Reset</button>
  </div>
</div>